{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "endOfLine": "auto",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "~(.*)", "src/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["classProperties", "typescript", "decorators-legacy"]
}
